.header {
  display: flex;
  height: 10vh;
  background-color: #323232;
  margin-bottom: 25px;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.header img {
  margin-top: 50px;
  display: flex;
  align-items: center;
  height: 100%;
}

/*for-phone-only*/
@media (max-width: 599px) {
  .header {
    margin-bottom: 40px;
  }

  .header {
    height: 7vh;
  }
}

/* for-tablet-portrait-up */
@media (min-width: 600px) {
  .header {
    height: 8vh;
  }
}

/* for-tablet-landscape-up */
@media (min-width: 900px) {
  .header {
    height: 9vh;
  }
}

/* for-desktop-up */
@media (min-width: 1200px) {
}

/*for-big-desktop-up*/
@media (min-width: 1800px) {
}
