.header {
  background-color: #323232;
  height: 10vh;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.header img {
  width: 25%;
  height: 25%;
}

/*for-phone-only*/
@media (max-width: 599px) {
  .header {
    height: 7vh;
  }
}

/* for-tablet-portrait-up */
@media (min-width: 600px) {
  .header {
    height: 8vh;
  }
}

/* for-tablet-landscape-up */
@media (min-width: 900px) {
  .header {
    height: 9vh;
  }
}

/* for-desktop-up */
@media (min-width: 1200px) {
  .card-row {
    display: flex;
    flex-direction: row;
  }
}

/*for-big-desktop-up*/
@media (min-width: 1800px) {
  @content;
}
